
.leftbox {
  display: inline-block;
  padding: 30px 20px;
  background:#f4f4f4;
  width:50%;
  height:200px;
  border-right: 1px solid #00adda;
}

.rightbox{
  display: inline-block;
  padding: 30px 20px;
  background:#f4f4f4;
  width:50%;
  height:200px;
}


.buttons{
  text-align: center;
}



.buttons .apat{
  position: relative;
  top: 60px;
  left: 50px;
  background-color: #ffffff;
  color: #00adda;
  font-size: 70%;
  padding: 12px 24px;
  border: #00adda;
  cursor: pointer;
  border-radius: 25%;
  text-decoration: none;
}

.buttons .apa {
  position: relative;
  bottom: -10px;
  left: -55px;
  background-color: #ffffff;
  color: #00adda;
  font-size: 70%;
  padding: 12px 24px;
  border: #00adda;
  cursor: pointer;
  border-radius: 25%;
  text-decoration: none;
}


.buttons .simpt{
  position: relative;
  top: 60px;
  left: 50px;
  background-color: #ffffff;
  color: #00adda;
  font-size: 70%;
  padding: 12px 24px;
  border: #00adda;
  cursor: pointer;
  border-radius: 25%;
  text-decoration: none;
}

.buttons .simp{
  position: relative;
  bottom: -10px;
  left: -55px;
  background-color: #ffffff;
  color: #00adda;
  font-size: 70%;
  padding: 12px 24px;
  border: #00adda;
  cursor: pointer;
  border-radius: 25%;
  text-decoration: none;
}

h2{
  color:black;
  text-align:center;
}

.contenedor span{
  position: relative;
  font-size: xx-large;
  color: #ffffff;
  top: -280px;
}


.theme_boxes {
  color: #00adda;
  font-size: small;
  font-size: 2.5vw;
  padding: 20px 0px 40px 0px;
  font-family: "Bitter", serif !important;
}

.top-row{
  display: block;
  background:#f4f4f4;
  height:320px;
  border-bottom: 1px solid #00adda;
}

.bottom-row{
  display: block;
  background:#f4f4f4;
  height:200px;
}

.pregrado {
  float:left;
  width:50%;
  height:320px;
  padding: 30px 20px 10px 30px;
  margin-left: -1px;
}

.quinto-año {
  float:left;
  width:50%;
  height:320px;
  padding: 10px 20px 10px 30px;
  margin-left: -1px;
  border-left: 1px solid #00adda;
}

.practica {
  float:left;
  width:50%;
  height:200px;
  padding: 30px 20px 10px 30px;
  margin-left: -1px;
}

.titulacion {
  float:left;
  width:50%;
  height:200px;
  padding: 10px 20px 10px 30px;
  margin-left: -1px;
  border-left: 1px solid #00adda;
}

.theme_boxes a{
  text-decoration:none;
  display: block;
  line-height: 1.2rem;
  font-weight: 400;
}

.theme_boxes a:link {
  color: black;
}

.theme_boxes a:visited {
  color: black;
}

.theme_boxes a:hover {
  color: #00adda;
}

.theme_boxes a:active {
  color: black;
}

/*CSS para el apartado del calendario, dropdown y boton "Actividades FIC"*/
/*La imagen de fondo*/
.container-calendario{
  background-color: white;
  width: 100%;
  padding:35px !important;
  margin: 0 0 30px 0 !important;
  position: relative !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  line-height: 20px !important;  
}

.container-calendario .text-container{
  letter-spacing: 0.4px !important;
  text-align: center !important;
  font-weight: 700 !important;
  color: #00adda !important;
  font-family: "Bitter", serif !important;
/*  line-height: 35px;*/
  line-height: 2.1875rem !important;
  /*font-size: 30px;*/
  font-size: 1.875rem !important;
  position: relative !important;
}

hr{
  position: relative;
  bottom: 10px;
  width: 44px !important;
  height: 4px !important;
  background-color: #00adda !important;
  opacity: 1 !important;
  left: 50% !important;
  margin-left: -22px !important;
}

.text-container{
  position: relative !important;
  z-index: 1 !important;
}

.h3, h3{
  font-size: 1.75rem !important;
  color: #1D1E20 !important;
}

.group-buttons{
  position: relative !important;
  z-index: 3 !important;
  margin: 17px !important;
  margin-left: 0px !important;
  width: 100% !important;
}

.contenido-botones a{
  text-decoration: none;
}

/*Boton que dice ver más*/
.botonDropdown{
  position: absolute;
  font-family: "Open Sans", sans-serif;
  padding-left: 15px;
  padding-right: 20px;
  height: 40px;
  text-overflow: ellipsis;
  color:#00adda !important;
  background-color: white !important;
  border-color: #00adda !important;
  width: 50% !important;
}

/*Las opciones del boton ver más*/
.opciones{
  font-family: "Open Sans", sans-serif;
  padding-left: 5px !important;
}

.dropdown-item{
  font-weight: normal !important;
  display: block !important;
  white-space: nowrap!important;
  min-height: 1.2rem !important;
  padding: 0px 2px 1px !important;
  padding-top: 0px !important;
  padding-right: 2px !important;
  padding-bottom: 1px !important;
  padding-left: 2px !important;
  color: #545353 !important;
}

/*El boton que linkea a la página de ingenieria*/
.actividades-fic{
  color: #00adda !important;
  background-color: white !important;
  border-color: #00adda !important;
  border: 1px solid;
  border-radius: 0.25rem !important ;
  position: relative !important;
  font-family: "Open Sans", sans-serif;
  float: left !important;
  padding: auto !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  cursor: pointer !important;
  width: 50% !important;
  height: 40px;
}